.container {
  display: grid;
  grid: auto / auto 1fr 1fr;
  gap: 0px 20px;
  &.no-transition {
    .pin {
      transition: none;
    }
    path,
    circle {
      transition: none;
    }
  }
}

.dc-line {
  stroke: rgba(240, 0, 0, 0.4);
  fill: none;
  transition: d var(--speed);
  stroke-dasharray: 8 5;

  &.level-1 {
    stroke: rgba(200, 114, 0, 0.4);
  }

  &.level-2 {
    stroke: rgba(1, 110, 1, 0.4);
  }
}

.dc-marker {
  fill: rgba(0, 0, 0, 0.2);
  transition: cx var(--speed), cy var(--speed);

  &.level-1 {
    fill: rgba(0, 0, 240, 0.8);
  }
}

.pin {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(0, 0, 200, 0.3);
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  left: 0;
  top: 0;
  transition: transform var(--speed), background-color var(--speed);

  &:hover {
    background: rgba(0, 0, 200, 0.5);
  }

  &:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }

  &:after {
    content: attr(data-coords);
    position: absolute;
    left: 50%;
    top: 100%;
    font-size: 12px;
    white-space: nowrap;
    transform: translate(-50%, 0);
    padding: 5px 10px;
  }
}
